* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BDE2A7 !important;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 90%;
    background-color: white;
    flex-direction: column;
    gap: 10%;
    
}

.logIn {
    display: flex;
    flex-direction: column;
    gap: 6vw;
}


input {
    border: none;
    border-bottom: 1px solid black;
    width: 40vw;
    height: 5vh;
    outline: none;
    font-size: 14px;
}

.button {
    background-color: #DCDBDC;
    padding: 0.8vw 1.8vw;
    border: none;
}